# Global owner
*       @hanmpark

# Group projects
/minishell/        @hanmpark @Kariyu42
/ft_irc/           @hanmpark @Kariyu42
/ft_transcendence/ @hanmpark @Kariyu42 @okbrandon @evnsh
/miniRT/           @hanmpark @YounesBouhlel

# Solo projects
/libft/            @hanmpark
/get_next_line/    @hanmpark
/ft_printf/        @hanmpark
/push_swap/        @hanmpark
/pipex/            @hanmpark
/so_long/          @hanmpark
/philosophers/     @hanmpark
/cpp_modules/      @hanmpark
